<% layout("/layouts/boilerplate") -%>
<!-- <style>
    a{
        text-decoration: none;
    }
</style> -->
<body>
   <!-- <h3>All Listings</h3>  -->
   <!-- <ul> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div id="filters">
        <div class="filter">
            <a href="/listings/filter/trending">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </a>
        </div>
        <div class="filter">
                <a href="/listings/filter/rooms">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/iconicCities">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic cities</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/mountains">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/castles">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/farms">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/camping">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>
        <div class="filter">
            <a href="/listings/filter/amazingPools">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing pools</p>
            </a>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id%>" style="color: black;text-decoration: none;" class="listing-link">
            <div class="card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text" style="text-decoration: none;"> 
                        <b><%= listing.title %></b><br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                        <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </a>
        <% } %>
    </div>
    <script>
        let taxSwitch=document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click",()=>{
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo){
                if(info.style.display == "inline"){
                    info.style.display = "none";
                }else{
                    info.style.display = "inline";
                }
            }
        })
    </script>

   <!-- </ul> -->
</body>